@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global */

@font-face {
    font-family: 'ROKAF';
    font-style: normal;
    font-weight: 400;
    src: url('/resources/fonts/ROKAF Sans Bold.ttf') format('truetype');
}

* {
    font-family: 'ROKAF', sans-serif;
    box-sizing: border-box;
    z-index: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    background-color: #25292e;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Scroll styles */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #25292e;
}

::-webkit-scrollbar-thumb {
    background: #363c44;
}

::-webkit-scrollbar-thumb:hover {
    background: #414851;
}

/* key */

.key {
    height: calc(var(--width) * 4);
    width: var(--width);
    position: relative;
    border-radius: 5px;
    z-index: 1;
}

.black {
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
}

.var-width-4vw {
    --width: 4vw;
}

.var-width-2-5vw {
    --width: 2.5vw;
}

/* toggle */

.toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #68d391;
    /* background-color: #68d391; */
}

.toggle-label:has(.toggle-checkbox:checked) {
    @apply: bg-green-400;
    background-color: #68d391;
}
